.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
    background: url(../images/header.png);
    background-size: cover;
    min-width: 375px;
    
}

.nav {
    display: none;
}

.nav__menu-btn {
    display: flex;
    text-align: center;
}

.menu {
    display: flex;
}

.menu__item__link {
    font-size: 21px;
    text-decoration: none;
}

.text {
    color: rebeccapurple;
    width: 400px;
    margin-top: auto;
}

.box {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
 .nav {
     display: block;
 }
 .nav__menu-btn {
     display: none;
 }
}




